.banner::before {
    content: "PHARAОН";

}

.banner {
    --ch: 12ch;
    --clr: rgb(255, 255, 255);
    border-bottom: 1px solid white;
    border-top: 1px solid white;
    width: 100%;
    height: 30px;
    color: transparent;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-size: 1rem;
    text-shadow: calc(var(--ch) * 0) 0 1px var(--clr),
        calc(var(--ch) * 1) 0 1px var(--clr), calc(var(--ch) * 2) 0 1px var(--clr),
        calc(var(--ch) * 3) 0 1px var(--clr), calc(var(--ch) * 4) 0 1px var(--clr),
        calc(var(--ch) * 5) 0 1px var(--clr), calc(var(--ch) * 6) 0 1px var(--clr),
        calc(var(--ch) * 7) 0 1px var(--clr), calc(var(--ch) * 8) 0 1px var(--clr);
    animation: move 3s linear infinite;
}

@keyframes move {
    to {
        text-shadow: calc(var(--ch) * -1) 0 1px var(--clr),
            calc(var(--ch) * 0) 0 1px var(--clr), calc(var(--ch) * 1) 0 1px var(--clr),
            calc(var(--ch) * 2) 0 1px var(--clr), calc(var(--ch) * 3) 0 1px var(--clr),
            calc(var(--ch) * 4) 0 1px var(--clr), calc(var(--ch) * 5) 0 1px var(--clr),
            calc(var(--ch) * 6) 0 1px var(--clr), calc(var(--ch) * 7) 0 1px var(--clr);
    }
}


.banner_two::before {
    content: "МУЗЫКА";

}

.banner_two {
    --ch: 12ch;
    --clr: rgb(255, 255, 255);
    border-bottom: 1px solid white;
    border-top: 1px solid white;
    width: 100%;
    height: 30px;
    color: transparent;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-size: 1rem;
    text-shadow: calc(var(--ch) * 0) 0 1px var(--clr),
        calc(var(--ch) * 1) 0 1px var(--clr), calc(var(--ch) * 2) 0 1px var(--clr),
        calc(var(--ch) * 3) 0 1px var(--clr), calc(var(--ch) * 4) 0 1px var(--clr),
        calc(var(--ch) * 5) 0 1px var(--clr), calc(var(--ch) * 6) 0 1px var(--clr),
        calc(var(--ch) * 7) 0 1px var(--clr), calc(var(--ch) * 8) 0 1px var(--clr);
    animation: two 3s linear infinite;
}

@keyframes two {
    to {
        text-shadow: calc(var(--ch) * -1) 0 1px var(--clr),
            calc(var(--ch) * 0) 0 1px var(--clr), calc(var(--ch) * 1) 0 1px var(--clr),
            calc(var(--ch) * 2) 0 1px var(--clr), calc(var(--ch) * 3) 0 1px var(--clr),
            calc(var(--ch) * 4) 0 1px var(--clr), calc(var(--ch) * 5) 0 1px var(--clr),
            calc(var(--ch) * 6) 0 1px var(--clr), calc(var(--ch) * 7) 0 1px var(--clr);
    }
}