@import url('https://fonts.googleapis.com/css2?family=Forum&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Forum', serif;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

body {
  background-color: black;
  color: white;
}

.logo {
  margin-block: 30px;
}

.slider_one {
  width: 99vw;
}

.slider_block_one {
  width: max-content;
  padding: 10px 25px;
  border: 1px solid white;
  border-radius: 5px;
}

.title_one {
  font-size: 19px;
}

.red {
  font-size: 19px;
  color: #B70000;
}

.text_one {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2px;
  margin-block: 25px;
}

.slider_two {
  width: 99vw;
}

.slider_block_two {
  width: max-content !important;
  padding: 10px 25px;
  border-block: 1px solid white;
}

.swiper-slide {
  width: max-content !important;
}

.text_photo {
  font-size: 25px;
}

strong {
  color: #CD0000;
}

.photo_block {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

.photo_block img {
  border-radius: 5px;
}

.line {
  width: 100%;
  height: 1px;
  background-color: white;
  margin-block: 100px;
}

.poster_one,
.poster_two,
.poster_three,
.poster_four,
.poster_five,
.poster_six,
.poster_seven,
.poster_eight,
.poster_nine,
.poster_ten,
.poster_eleven,
.poster_twelve,
.poster_thirteen,
.poster_fourteen,
.poster_fifteen,
.poster_sixteen,
.poster_seventeen,
.poster_eighteen,
.poster_nineteen {
  position: relative;
  display: inline-block;
  z-index: 2;
}


.poster_one:hover::before,
.poster_two:hover::before,
.poster_three:hover::before,
.poster_four:hover::before,
.poster_five:hover::before,
.poster_six:hover::before,
.poster_seven:hover::before,
.poster_eight:hover::before,
.poster_nine:hover::before,
.poster_ten:hover::before,
.poster_eleven:hover::before,
.poster_twelve:hover::before,
.poster_thirteen:hover::before,
.poster_fourteen:hover::before,
.poster_fifteen:hover::before,
.poster_sixteen:hover::before,
.poster_seventeen:hover::before,
.poster_eighteen:hover::before,
.poster_nineteen:hover::before {
  z-index: 1;
  opacity: 1;
}


.poster_photo_one:hover,
.poster_photo_two:hover,
.poster_photo_three:hover,
.poster_photo_four:hover,
.poster_photo_five:hover,
.poster_photo_six:hover,
.poster_photo_seven:hover,
.poster_photo_eight:hover,
.poster_photo_nine:hover,
.poster_photo_ten:hover,
.poster_photo_eleven:hover,
.poster_photo_twelve:hover,
.poster_photo_thirteen:hover,
.poster_photo_fourteen:hover,
.poster_photo_fifteen:hover,
.poster_photo_sixteen:hover,
.poster_photo_seventeen:hover,
.poster_photo_eighteen:hover,
.poster_photo_nineteen:hover {
  z-index: 2;
  filter: brightness(0.3);
}

.poster_one::before {
  content: "2015 RAGE MODE (RARE ACTION)";
  font-size: 30px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: opacity 0.3s ease;
  z-index: 4;
  color: white;
}


.poster_two::before {
  content: "2015 RAGE MODE (RARE ACTION)";
  font-size: 30px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: opacity 0.3s ease, z-index 0.3s ease;
  z-index: 2;
  color: white;
}


.poster_three::before {
  content: "2015 RAGE MODE (RARE ACTION)";
  font-size: 30px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: opacity 0.3s ease, z-index 0.3s ease;
  z-index: 2;
  color: white;
}

.poster_four::before {
  content: "2015 RAGE MODE (RARE ACTION)";
  font-size: 30px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: opacity 0.3s ease, z-index 0.3s ease;
  z-index: 2;
  color: white;
}

.poster_five::before {
  content: "2015 RAGE MODE (RARE ACTION)";
  font-size: 30px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: opacity 0.3s ease, z-index 0.3s ease;
  z-index: 2;
  color: white;
}

.poster_six::before {
  content: "2015 RAGE MODE (RARE ACTION)";
  font-size: 30px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: opacity 0.3s ease, z-index 0.3s ease;
  z-index: 2;
  color: white;
}

.poster_seven::before {
  content: "2015 RAGE MODE (RARE ACTION)";
  font-size: 30px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: opacity 0.3s ease, z-index 0.3s ease;
  z-index: 2;
  color: white;
}

.poster_eight::before {
  content: "2015 RAGE MODE (RARE ACTION)";
  font-size: 30px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: opacity 0.3s ease, z-index 0.3s ease;
  z-index: 2;
  color: white;
}

.poster_nine::before {
  content: "2015 RAGE MODE (RARE ACTION)";
  font-size: 30px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: opacity 0.3s ease, z-index 0.3s ease;
  z-index: 2;
  color: white;
}

.poster_ten::before {
  content: "2015 RAGE MODE (RARE ACTION)";
  font-size: 30px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: opacity 0.3s ease, z-index 0.3s ease;
  z-index: 2;
  color: white;
}

.poster_eleven::before {
  content: "2015 RAGE MODE (RARE ACTION)";
  font-size: 30px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: opacity 0.3s ease, z-index 0.3s ease;
  z-index: 2;
  color: white;
}

.poster_twelve::before {
  content: "2015 RAGE MODE (RARE ACTION)";
  font-size: 30px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: opacity 0.3s ease, z-index 0.3s ease;
  z-index: 2;
  color: white;
}

.poster_thirteen::before {
  content: "2015 RAGE MODE (RARE ACTION)";
  font-size: 30px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: opacity 0.3s ease, z-index 0.3s ease;
  z-index: 2;
  color: white;
}

.poster_fourteen::before {
  content: "2015 RAGE MODE (RARE ACTION)";
  font-size: 30px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: opacity 0.3s ease, z-index 0.3s ease;
  z-index: 2;
  color: white;
}

.poster_fifteen::before {
  content: "2015 RAGE MODE (RARE ACTION)";
  font-size: 30px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: opacity 0.3s ease, z-index 0.3s ease;
  z-index: 2;
  color: white;
}

.poster_sixteen::before {
  content: "2015 RAGE MODE (RARE ACTION)";
  font-size: 30px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: opacity 0.3s ease, z-index 0.3s ease;
  z-index: 2;
  color: white;
}

.poster_seventeen::before {
  content: "2015 RAGE MODE (RARE ACTION)";
  font-size: 30px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: opacity 0.3s ease, z-index 0.3s ease;
  z-index: 2;
  color: white;
}

.poster_eighteen::before {
  content: "2015 RAGE MODE (RARE ACTION)";
  font-size: 30px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: opacity 0.3s ease, z-index 0.3s ease;
  z-index: 2;
  color: white;
}

.poster_nineteen::before {
  content: "2015 RAGE MODE (RARE ACTION)";
  font-size: 30px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: opacity 0.3s ease, z-index 0.3s ease;
  z-index: 2;
  color: white;
}